<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    {{>header}}
    <img src="https://media.giphy.com/media/3o7TKsQ8U1f3Wv5n7O/giphy.gif" alt="about">
    {{>footer}}
  </body>
</html>